body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    height: 100%;
}

.app {
    display: flex;
    height: 100%;
    .main {
        flex: 3;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .events {
        flex: 1;
        max-width: 360px;
        overflow-y: scroll;
        contain: strict;
        padding: 8px;
        border-left: 1px solid #000;
    }
}
